# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/out/production/classes/sortingalgo/Heap.class
/out/production/classes/leetcode/heap/merge_k_sorted_lists/ListNode.class
/out/production/classes/leetcode/linkedlist/reverse_linked_list/ListNode.class
/out/production/classes/backjoon/silver1/p11286/Main$1.class
/out/production/classes/dynamicalgo/no4/Main$Brick.class
/out/production/classes/backjoon/gold4/p17144/Main$Dust.class
/out/production/classes/backjoon/gold5/p1240/Main$Edge.class
/out/production/classes/greedyalgo/no5/Main$Edge.class
/out/production/classes/greedyalgo/no7/Main$Edge.class
/out/production/classes/greedyalgo/no8/Main$Edge.class
/out/production/classes/backjoon/gold1/p16639/Main$Exp.class
/out/production/classes/greedyalgo/no3/Main$Friend.class
/out/production/classes/backjoon/gold2/p17780/Main$Grid.class
/out/production/classes/backjoon/platinum4/p9376/Main$History.class
/out/production/classes/greedyalgo/no4/Main$Lesson.class
/out/production/classes/backjoon/gold2/p1167/Main$Node.class
/out/production/classes/backjoon/gold4/p1504/Main$Node.class
/out/production/classes/backjoon/gold2/p17780/Main$Piece.class
/out/production/classes/greedyalgo/no1/Main$Player.class
/out/production/classes/backjoon/gold1/p1113/Main$Point.class
/out/production/classes/backjoon/gold2/p4991/Main$Point.class
/out/production/classes/backjoon/gold4/p14923/Main$Point.class
/out/production/classes/backjoon/gold5/p5014/Main$Point.class
/out/production/classes/backjoon/platinum4/p9376/Main$Point.class
/out/production/classes/backjoon/platinum5/p3197/Main$Point.class
/out/production/classes/backjoon/silver1/p2468/Main$Point.class
/out/production/classes/dfsbfsplusalgo/no11/Main$Point.class
/out/production/classes/dfsbfsplusalgo/no12/Main$Point.class
/out/production/classes/dfsbfsplusalgo/no13_2/Main$Point.class
/out/production/classes/dfsbfsplusalgo/no14/Main$Point.class
/out/production/classes/programers/level1/p67256/Main$Position.class
/out/production/classes/programers/level3/p42579/Main$Solution$Genre.class
/out/production/classes/programers/level2/p1844/Main$Solution$Point.class
/out/production/classes/programers/level3/p42579/Main$Solution$Song.class
/out/production/classes/programers/level2/p42583/Main$Solution$Truck.class
/out/production/classes/programers/level1/p12899/Main$Solution.class
/out/production/classes/programers/level1/p12977/Main$Solution.class
/out/production/classes/programers/level1/p77884/Main$Solution.class
/out/production/classes/programers/level2/p1829/Main$Solution.class
/out/production/classes/programers/level2/p1844/Main$Solution.class
/out/production/classes/programers/level2/p42577/Main$Solution.class
/out/production/classes/programers/level2/p42578/Main$Solution.class
/out/production/classes/programers/level2/p42583/Main$Solution.class
/out/production/classes/programers/level2/p42586/Main$Solution.class
/out/production/classes/programers/level2/p42587/Main$Solution.class
/out/production/classes/programers/level2/p43165/Main$Solution.class
/out/production/classes/programers/level2/p72411/Main$Solution.class
/out/production/classes/programers/level2/p77485/Main$Solution.class
/out/production/classes/programers/level2/p81302/Main$Solution.class
/out/production/classes/programers/level3/p42579/Main$Solution.class
/out/production/classes/programers/level3/p49189/Main$Solution.class
/out/production/classes/greedyalgo/no2/Main$Time.class
/out/production/classes/backjoon/gold5/p15591/Main$Video.class
/out/production/classes/arrayalgo/no1/Main.class
/out/production/classes/arrayalgo/no2/Main.class
/out/production/classes/arrayalgo/no3/Main.class
/out/production/classes/arrayalgo/no4/Main.class
/out/production/classes/arrayalgo/no5/Main.class
/out/production/classes/arrayalgo/no6/Main.class
/out/production/classes/arrayalgo/no7/Main.class
/out/production/classes/arrayalgo/no8/Main.class
/out/production/classes/arrayalgo/no9/Main.class
/out/production/classes/arrayalgo/no10/Main.class
/out/production/classes/arrayalgo/no11/Main.class
/out/production/classes/arrayalgo/no12/Main.class
/out/production/classes/backjoon/bronze1/p1193/Main.class
/out/production/classes/backjoon/bronze1/p2775/Main.class
/out/production/classes/backjoon/bronze2/p2292/Main.class
/out/production/classes/backjoon/bronze5/p10757/Main.class
/out/production/classes/backjoon/gold1/p1113/Main.class
/out/production/classes/backjoon/gold1/p16639/Main.class
/out/production/classes/backjoon/gold1/p18500/Main.class
/out/production/classes/backjoon/gold2/p1167/Main.class
/out/production/classes/backjoon/gold2/p1655/Main.class
/out/production/classes/backjoon/gold2/p1918/Main.class
/out/production/classes/backjoon/gold2/p2749/Main.class
/out/production/classes/backjoon/gold2/p4991/Main.class
/out/production/classes/backjoon/gold2/p17780/Main.class
/out/production/classes/backjoon/gold3/p1865/Main.class
/out/production/classes/backjoon/gold3/p2812/Main.class
/out/production/classes/backjoon/gold4/p1043/Main.class
/out/production/classes/backjoon/gold4/p1504/Main.class
/out/production/classes/backjoon/gold4/p1987/Main.class
/out/production/classes/backjoon/gold4/p2580/Main.class
/out/production/classes/backjoon/gold4/p9935/Main.class
/out/production/classes/backjoon/gold4/p14923/Main.class
/out/production/classes/backjoon/gold4/p16637/Main.class
/out/production/classes/backjoon/gold4/p17144/Main.class
/out/production/classes/backjoon/gold5/p1107/Main.class
/out/production/classes/backjoon/gold5/p1240/Main.class
/out/production/classes/backjoon/gold5/p1759/Main.class
/out/production/classes/backjoon/gold5/p5014/Main.class
/out/production/classes/backjoon/gold5/p12865/Main.class
/out/production/classes/backjoon/gold5/p15591/Main.class
/out/production/classes/backjoon/platinum4/p9376/Main.class
/out/production/classes/backjoon/platinum5/p3197/Main.class
/out/production/classes/backjoon/silver1/p1149/Main.class
/out/production/classes/backjoon/silver1/p1303/Main.class
/out/production/classes/backjoon/silver1/p1629/Main.class
/out/production/classes/backjoon/silver1/p1932/Main.class
/out/production/classes/backjoon/silver1/p2468/Main.class
/out/production/classes/backjoon/silver1/p2583/Main.class
/out/production/classes/backjoon/silver1/p2667/Main.class
/out/production/classes/backjoon/silver1/p11286/Main.class
/out/production/classes/backjoon/silver1/p16918/Main.class
/out/production/classes/backjoon/silver3/p1463/Main.class
/out/production/classes/backjoon/silver3/p1935/Main.class
/out/production/classes/backjoon/silver3/p2579/Main.class
/out/production/classes/backjoon/silver3/p10799/Main.class
/out/production/classes/backjoon/silver4/Main.class
/out/production/classes/backjoon/silver5/p2869/Main.class
/out/production/classes/backjoon/sliver2/p1541/Main.class
/out/production/classes/dfsbfsalgo/no1/Main.class
/out/production/classes/dfsbfsalgo/no2/Main.class
/out/production/classes/dfsbfsalgo/no3/Main.class
/out/production/classes/dfsbfsalgo/no4/Main.class
/out/production/classes/dfsbfsalgo/no5/Main.class
/out/production/classes/dfsbfsalgo/no6/Main.class
/out/production/classes/dfsbfsalgo/no7/Main.class
/out/production/classes/dfsbfsalgo/no8/Main.class
/out/production/classes/dfsbfsalgo/no9/Main.class
/out/production/classes/dfsbfsalgo/no10/Main.class
/out/production/classes/dfsbfsalgo/no12/Main.class
/out/production/classes/dfsbfsalgo/no13/Main.class
/out/production/classes/dfsbfsalgo/no14/Main.class
/out/production/classes/dfsbfsplusalgo/no1/Main.class
/out/production/classes/dfsbfsplusalgo/no2/Main.class
/out/production/classes/dfsbfsplusalgo/no3/Main.class
/out/production/classes/dfsbfsplusalgo/no4/Main.class
/out/production/classes/dfsbfsplusalgo/no5/Main.class
/out/production/classes/dfsbfsplusalgo/no6/Main.class
/out/production/classes/dfsbfsplusalgo/no7/Main.class
/out/production/classes/dfsbfsplusalgo/no8/Main.class
/out/production/classes/dfsbfsplusalgo/no9/Main.class
/out/production/classes/dfsbfsplusalgo/no10/Main.class
/out/production/classes/dfsbfsplusalgo/no11/Main.class
/out/production/classes/dfsbfsplusalgo/no12/Main.class
/out/production/classes/dfsbfsplusalgo/no13/Main.class
/out/production/classes/dfsbfsplusalgo/no13_2/Main.class
/out/production/classes/dfsbfsplusalgo/no14/Main.class
/out/production/classes/dynamicalgo/no1/Main.class
/out/production/classes/dynamicalgo/no2/Main.class
/out/production/classes/dynamicalgo/no3/Main.class
/out/production/classes/dynamicalgo/no4/Main.class
/out/production/classes/dynamicalgo/no5/Main.class
/out/production/classes/dynamicalgo/no6/Main.class
/out/production/classes/greedyalgo/no1/Main.class
/out/production/classes/greedyalgo/no2/Main.class
/out/production/classes/greedyalgo/no3/Main.class
/out/production/classes/greedyalgo/no4/Main.class
/out/production/classes/greedyalgo/no5/Main.class
/out/production/classes/greedyalgo/no6/Main.class
/out/production/classes/greedyalgo/no7/Main.class
/out/production/classes/greedyalgo/no8/Main.class
/out/production/classes/hashalgo/no1/Main.class
/out/production/classes/hashalgo/no2/Main.class
/out/production/classes/hashalgo/no3/Main.class
/out/production/classes/hashalgo/no4/Main.class
/out/production/classes/hashalgo/no5/Main.class
/out/production/classes/leetcode/array/best_time_to_buy_and_sell_stock/Main.class
/out/production/classes/leetcode/array/contains_duplicate/Main.class
/out/production/classes/leetcode/array/maximun_product_subarray/Main.class
/out/production/classes/leetcode/array/maximun_subarray/Main.class
/out/production/classes/leetcode/array/product_of_array_except_self/Main.class
/out/production/classes/leetcode/array/seacrh_in_rotatted_sorted_array/Main.class
/out/production/classes/leetcode/array/two_sum/Main.class
/out/production/classes/leetcode/dynamicprogramming/climbing_stairs/Main.class
/out/production/classes/leetcode/dynamicprogramming/jump_game/Main.class
/out/production/classes/leetcode/dynamicprogramming/longest_increasing_subsequence/Main.class
/out/production/classes/leetcode/graph/clone_garph/Main.class
/out/production/classes/leetcode/graph/pacific_atlantic_water_flow/Main.class
/out/production/classes/leetcode/heap/merge_k_sorted_lists/Main.class
/out/production/classes/leetcode/linkedlist/reverse_linked_list/Main.class
/out/production/classes/leetcode/matrix/set_matrix_zeroes/Main.class
/out/production/classes/leetcode/string/valid_anagram/Main.class
/out/production/classes/programers/level1/p2436c/Main.class
/out/production/classes/programers/level1/p12899/Main.class
/out/production/classes/programers/level1/p12977/Main.class
/out/production/classes/programers/level1/p42840/Main.class
/out/production/classes/programers/level1/p42862/Main.class
/out/production/classes/programers/level1/p64061/Main.class
/out/production/classes/programers/level1/p67256/Main.class
/out/production/classes/programers/level1/p70128/Main.class
/out/production/classes/programers/level1/p72410/Main.class
/out/production/classes/programers/level1/p76501/Main.class
/out/production/classes/programers/level1/p77484/Main.class
/out/production/classes/programers/level1/p77884/Main.class
/out/production/classes/programers/level1/p81301/Main.class
/out/production/classes/programers/level1/p86051/Main.class
/out/production/classes/programers/level1/p86491/Main.class
/out/production/classes/programers/level1/p92334/Main.class
/out/production/classes/programers/level2/p1829/Main.class
/out/production/classes/programers/level2/p1844/Main.class
/out/production/classes/programers/level2/p7420c/Main.class
/out/production/classes/programers/level2/p42577/Main.class
/out/production/classes/programers/level2/p42578/Main.class
/out/production/classes/programers/level2/p42583/Main.class
/out/production/classes/programers/level2/p42584/Main.class
/out/production/classes/programers/level2/p42586/Main.class
/out/production/classes/programers/level2/p42587/Main.class
/out/production/classes/programers/level2/p42626/Main.class
/out/production/classes/programers/level2/p42746/Main.class
/out/production/classes/programers/level2/p42747/Main.class
/out/production/classes/programers/level2/p42842/Main.class
/out/production/classes/programers/level2/p42860/Main.class
/out/production/classes/programers/level2/p42885/Main.class
/out/production/classes/programers/level2/p42888/Main.class
/out/production/classes/programers/level2/p43165/Main.class
/out/production/classes/programers/level2/p72411/Main.class
/out/production/classes/programers/level2/p77485/Main.class
/out/production/classes/programers/level2/p81302/Main.class
/out/production/classes/programers/level2/p86971/Main.class
/out/production/classes/programers/level2/p87946/Main.class
/out/production/classes/programers/level3/p42579/Main.class
/out/production/classes/programers/level3/p42627/Main.class
/out/production/classes/programers/level3/p42628/Main.class
/out/production/classes/programers/level3/p42895/Main.class
/out/production/classes/programers/level3/p42898/Main.class
/out/production/classes/programers/level3/p43105/Main.class
/out/production/classes/programers/level3/p43162/Main.class
/out/production/classes/programers/level3/p43163/Main.class
/out/production/classes/programers/level3/p43164/Main.class
/out/production/classes/programers/level3/p43238/Main.class
/out/production/classes/programers/level3/p49189/Main.class
/out/production/classes/programers/level3/p84021/Main.class
/out/production/classes/programers/level3/p87694/Main.class
/out/production/classes/programers/level3/p92344/Main.class
/out/production/classes/programers/level4/p42897/Main.class
/out/production/classes/programers/level4/p43236/Main.class
/out/production/classes/programers/practice/test20220805_1/n1/Main.class
/out/production/classes/programers/practice/test20220805_1/n2/Main.class
/out/production/classes/programers/practice/test20220805_1/n3/Main.class
/out/production/classes/programers/practice/test20220805_1/n4/Main.class
/out/production/classes/sortingalgo/no1/Main.class
/out/production/classes/sortingalgo/no2/Main.class
/out/production/classes/sortingalgo/no3/Main.class
/out/production/classes/sortingalgo/no4/Main.class
/out/production/classes/sortingalgo/no5/Main.class
/out/production/classes/sortingalgo/no6/Main.class
/out/production/classes/sortingalgo/no7/Main.class
/out/production/classes/sortingalgo/no8/Main.class
/out/production/classes/sortingalgo/no9/Main.class
/out/production/classes/sortingalgo/no10/Main.class
/out/production/classes/stackqueuealgo/no1/Main.class
/out/production/classes/stackqueuealgo/no2/Main.class
/out/production/classes/stackqueuealgo/no3/Main.class
/out/production/classes/stackqueuealgo/no4/Main.class
/out/production/classes/stackqueuealgo/no5/Main.class
/out/production/classes/stackqueuealgo/no6/Main.class
/out/production/classes/stackqueuealgo/no7/Main.class
/out/production/classes/stackqueuealgo/no8/Main.class
/out/production/classes/stringalgo/no1/Main.class
/out/production/classes/stringalgo/no2/Main.class
/out/production/classes/stringalgo/no3/Main.class
/out/production/classes/stringalgo/no4/Main.class
/out/production/classes/stringalgo/no5/Main.class
/out/production/classes/stringalgo/no6/Main.class
/out/production/classes/stringalgo/no7/Main.class
/out/production/classes/stringalgo/no8/Main.class
/out/production/classes/stringalgo/no9/Main.class
/out/production/classes/stringalgo/no10/Main.class
/out/production/classes/stringalgo/no11/Main.class
/out/production/classes/stringalgo/no12/Main.class
/out/production/classes/template/inflearn/Main.class
/out/production/classes/template/programmers/Main.class
/out/production/classes/toss/test20220806/n1/Main.class
/out/production/classes/toss/test20220806/n2/Main.class
/out/production/classes/toss/test20220806/n4/Main.class
/out/production/classes/toss/test20220806/n5/Main.class
/out/production/classes/toss/test20220806/n6/Main.class
/out/production/classes/toss/test20220806/n7/Main.class
/out/production/classes/twopointersslidingwindow/no1/Main.class
/out/production/classes/twopointersslidingwindow/no2/Main.class
/out/production/classes/twopointersslidingwindow/no3/Main.class
/out/production/classes/twopointersslidingwindow/no4/Main.class
/out/production/classes/twopointersslidingwindow/no5/Main.class
/out/production/classes/twopointersslidingwindow/no5_2/Main.class
/out/production/classes/twopointersslidingwindow/no6/Main.class
/out/production/classes/backjoon/gold1/p18500/Main2$Mineral.class
/out/production/classes/backjoon/gold2/p4991/Main2$Point.class
/out/production/classes/backjoon/gold4/p14923/Main2$Point.class
/out/production/classes/backjoon/platinum5/p3197/Main2$Point.class
/out/production/classes/backjoon/bronze1/p1193/Main2.class
/out/production/classes/backjoon/gold1/p18500/Main2.class
/out/production/classes/backjoon/gold2/p4991/Main2.class
/out/production/classes/backjoon/gold3/p2812/Main2.class
/out/production/classes/backjoon/gold4/p14923/Main2.class
/out/production/classes/backjoon/gold4/p16637/Main2.class
/out/production/classes/backjoon/platinum5/p3197/Main2.class
/out/production/classes/hashalgo/no5/Main2.class
/out/production/classes/programers/level3/p43163/Main2.class
/out/production/classes/programers/level3/p84021/Main2.class
/out/production/classes/twopointersslidingwindow/no1/Main2.class
/out/production/classes/twopointersslidingwindow/no2/Main2.class
/out/production/classes/twopointersslidingwindow/no3/Main2.class
/out/production/classes/twopointersslidingwindow/no4/Main2.class
/out/production/classes/backjoon/gold2/p4991/Main3$Point.class
/out/production/classes/backjoon/gold2/p4991/Main3.class
/out/production/classes/backjoon/gold4/p14923/Main3.class
/out/production/classes/backjoon/gold4/p16637/Main3.class
/out/production/classes/backjoon/gold2/p4991/Main4$point.class
/out/production/classes/backjoon/gold2/p4991/Main4.class
/out/production/classes/dfsbfsalgo/Node.class
/out/production/classes/leetcode/graph/clone_garph/Node.class
/out/production/classes/toss/pre/test20220804/Number1.class
/out/production/classes/stackqueuealgo/no8/Person.class
/out/production/classes/leetcode/graph/pacific_atlantic_water_flow/Point.class
/out/production/classes/leetcode/matrix/set_matrix_zeroes/Point.class
/out/production/classes/programers/level3/p84021/Point.class
/out/production/classes/sortingalgo/no7/Point.class
/out/production/classes/dfsbfsplusalgo/no3/Question.class
/out/production/classes/backjoon/gold3/p1865/Road.class
/out/production/classes/template/SingleTonWarning.class
/out/production/classes/leetcode/heap/merge_k_sorted_lists/Solution$1.class
/out/production/classes/programers/level2/p42746/Solution$1.class
/out/production/classes/programers/level2/p42888/Solution$Command.class
/out/production/classes/toss/test20220806/n6/Solution$Person.class
/out/production/classes/programers/level3/p87694/Solution$Point.class
/out/production/classes/programers/level2/p42584/Solution$Price.class
/out/production/classes/programers/level2/p42888/Solution$UserInfo.class
/out/production/classes/leetcode/array/best_time_to_buy_and_sell_stock/Solution.class
/out/production/classes/leetcode/array/contains_duplicate/Solution.class
/out/production/classes/leetcode/array/maximun_product_subarray/Solution.class
/out/production/classes/leetcode/array/maximun_subarray/Solution.class
/out/production/classes/leetcode/array/product_of_array_except_self/Solution.class
/out/production/classes/leetcode/array/seacrh_in_rotatted_sorted_array/Solution.class
/out/production/classes/leetcode/array/two_sum/Solution.class
/out/production/classes/leetcode/dynamicprogramming/climbing_stairs/Solution.class
/out/production/classes/leetcode/dynamicprogramming/jump_game/Solution.class
/out/production/classes/leetcode/dynamicprogramming/longest_increasing_subsequence/Solution.class
/out/production/classes/leetcode/graph/clone_garph/Solution.class
/out/production/classes/leetcode/graph/pacific_atlantic_water_flow/Solution.class
/out/production/classes/leetcode/heap/merge_k_sorted_lists/Solution.class
/out/production/classes/leetcode/linkedlist/reverse_linked_list/Solution.class
/out/production/classes/leetcode/matrix/set_matrix_zeroes/Solution.class
/out/production/classes/leetcode/string/valid_anagram/Solution.class
/out/production/classes/programers/level1/p2436c/Solution.class
/out/production/classes/programers/level1/p42862/Solution.class
/out/production/classes/programers/level1/p67256/Solution.class
/out/production/classes/programers/level1/p77484/Solution.class
/out/production/classes/programers/level1/p77884/Solution.class
/out/production/classes/programers/level1/p86051/Solution.class
/out/production/classes/programers/level1/p86491/Solution.class
/out/production/classes/programers/level2/p7420c/Solution.class
/out/production/classes/programers/level2/p42578/Solution.class
/out/production/classes/programers/level2/p42584/Solution.class
/out/production/classes/programers/level2/p42746/Solution.class
/out/production/classes/programers/level2/p42747/Solution.class
/out/production/classes/programers/level2/p42842/Solution.class
/out/production/classes/programers/level2/p42860/Solution.class
/out/production/classes/programers/level2/p42885/Solution.class
/out/production/classes/programers/level2/p42888/Solution.class
/out/production/classes/programers/level2/p86971/Solution.class
/out/production/classes/programers/level2/p87946/Solution.class
/out/production/classes/programers/level3/p42627/Solution.class
/out/production/classes/programers/level3/p42628/Solution.class
/out/production/classes/programers/level3/p42895/Solution.class
/out/production/classes/programers/level3/p42898/Solution.class
/out/production/classes/programers/level3/p43105/Solution.class
/out/production/classes/programers/level3/p43162/Solution.class
/out/production/classes/programers/level3/p43163/Solution.class
/out/production/classes/programers/level3/p43164/Solution.class
/out/production/classes/programers/level3/p43238/Solution.class
/out/production/classes/programers/level3/p84021/Solution.class
/out/production/classes/programers/level3/p87694/Solution.class
/out/production/classes/programers/level3/p92344/Solution.class
/out/production/classes/programers/level4/p42897/Solution.class
/out/production/classes/programers/level4/p43236/Solution.class
/out/production/classes/programers/practice/test20220805_1/n1/Solution.class
/out/production/classes/programers/practice/test20220805_1/n2/Solution.class
/out/production/classes/programers/practice/test20220805_1/n3/Solution.class
/out/production/classes/programers/practice/test20220805_1/n4/Solution.class
/out/production/classes/template/programmers/Solution.class
/out/production/classes/toss/pre/test20220804/Solution.class
/out/production/classes/toss/test20220806/n1/Solution.class
/out/production/classes/toss/test20220806/n2/Solution.class
/out/production/classes/toss/test20220806/n4/Solution.class
/out/production/classes/toss/test20220806/n5/Solution.class
/out/production/classes/toss/test20220806/n6/Solution.class
/out/production/classes/toss/test20220806/n7/Solution.class
/out/production/classes/programers/level3/p84021/Solution2$Figure.class
/out/production/classes/programers/level3/p84021/Solution2$Point.class
/out/production/classes/programers/level3/p43163/Solution2$Word.class
/out/production/classes/programers/level2/p42747/Solution2.class
/out/production/classes/programers/level3/p43163/Solution2.class
/out/production/classes/programers/level3/p84021/Solution2.class
/out/production/classes/template/SomethingDTO$LazyHolder.class
/out/production/classes/template/SomethingDTO.class
